*{
	margin: 0;
	box-sizing: border-box;
}

.form-group{
	width: 100%;
	max-width: 800px;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto 25px;
	color: white;
}

body{
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	background-color: rgb(43, 43, 43);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

header{
	color: white;
	margin-bottom: 40px;
	width: 100%;
	max-width: 800px;
	padding: 20px;
	font-weight: bold;
	font: size 3rem;;
	text-align: center;
}

button{
	width: 100%;
	padding: 15px;
	color: white;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	background: grey;
}

select{
	width: 100%;
	padding: 12px;
	border-radius: 6px;
	border: 2px solid grey;
	background-color: white;
	cursor: pointer;
	appearance: auto;
}

label{
	display: block;
}

textarea{
	width: 100%;
	min-height: 300px;
	padding: 15px;
	border-radius: 6px;
	border: none;
	resize: vertical;
	font-family: 'Courier New', Courier, monospace;
}

textarea:focus{
	outline: none;
	border-color: purple;
	border: 2px;
}

textarea:hover{
	background-color: #ffffffd7;
}

button:hover{
	background-color:purple;
	transition: background-color 200ms linear;
}

@media (max-width: 600px) {
	.form-group{
		padding: 15px;
	}
}
